<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form action="/tijiao" method="get">
        <p>商品名称：<input type="text" name="goodsName"></p>
        <p>市场价格：<input type="text" name="goodsPrice"></p>
        <p>折扣价格：<input type="text" name="goodsNewprice"></p>
        <p>商品简介：<input type="text" name="goodsIntro"></p>

        <input type="submit">
    </form>


</body>

</html>