<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table,
    tr,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center
    }
    
    tr:nth-child(2n) {
        background-color: pink;
    }
    
    th {
        border: 1px solid black;
        font-size: 16px;
    }
</style>

<body>
    <table>
        <h1>商品管理系统</h1>
        <a href="/add">添加商品</a>

        <tr>
            <th>商品名称</th>
            <th>市场价格</th>
            <th>折扣价格</th>
            <th>商品简介</th>
        </tr>


        <%  for(var i = 0 ; i < result.length; i++){ %>
            <tr>
                <td>
                    <%= result[i].goodsName %>
                </td>
                <td>
                    <%= result[i].goodsPrice %>
                </td>
                <td>
                    <%= result[i].goodsNewprice %>
                </td>
                <td>
                    <%= result[i].goodsIntro %>
                </td>
            </tr>

            <%}%>
    </table>

</body>

</html>